/*general*/

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Rosario', sans-serif;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

/*utilities*/


.bg-principal {
  background-color: #E2EBF8;
}

.bg-secundario {
  background-color: #A7CBFF !important; 
}

.border-btn {
  border: 1px solid #8E8E8E !important;
}

.bg-oscuro {
  background-color: #010E20 !important;
}

.just-bottom-border {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #8E8E8E !important;
}

.remove-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

.rounded-25 {
  border-radius: 25px !important;
}

.remove-border-right {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.fs-ltl {
  font-size: 0.8rem !important;
}

/*footer*/

.send-btn {
  top: -63px;
  right: -125px;
}

/*login-page*/

.saly {
  top: -30px;
  left: 50px;
}

/*register*/

.btns-container-fg {
  width: 120%;
  margin-left: -8%;
}

/*responsive costumization*/

@media (max-width: 1200px) {
  .saly {
    top: -30px;
    left: -50px;
  }
}

@media (max-width: 576px) {
  .form-ll-container {
    border-radius: 0px !important;
  }

  .btns-container-fg {
    width: 100%;
    margin-left: 0px;
  }
}