/*general*/

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Rosario', sans-serif;
}

/*utilities*/


.bg-principal {
  background-color: #E2EBF8;
}

.bg-secundario {
  background-color: #A7CBFF;
}

.border-btn {
  border: 1px solid #8E8E8E;
}