/*general*/

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Rosario', sans-serif;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

/*utilities*/

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.bg-principal {
  background-color: #E2EBF8;
}

.bg-secundario {
  background-color: #A7CBFF !important; 
}

.border-btn {
  border: 1px solid #8E8E8E !important;
}

.bg-oscuro {
  background-color: #010E20 !important;
}

.just-bottom-border {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #8E8E8E !important;
}

.just-left-border {
  border-left: 1px solid #000 !important;
}

.remove-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

.rounded-25 {
  border-radius: 25px !important;
}

.remove-border-right {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.fs-ltl {
  font-size: 0.8rem !important;
}

.rounded-plus {
  border-radius: 20px !important;
}

.pointer {
  cursor: pointer !important;
}

.w-300 {
  width: 300px !important;
}

.linkedin-color {
  color: #0A66C2 !important;
}

.fb-color {
  color: #3B5998 !important;
}

.twitter-color {
  color: #1DA1F2 !important;
}

/*footer*/

.send-btn {
  top: -63px;
  right: -125px;
}

/*login-page*/

.saly {
  top: -30px;
  left: 50px;
}

/*register*/

.btns-container-fg {
  width: 120%;
  margin-left: -8%;
}


/*homepage*/
.lugar-input {
  border-left: 1px solid black !important;
}

.rounded-form {
  border-radius: 50rem !important;
}

/*perfil-page*/
.img-perfil{
  height: 180px !important;
  width: 180px !important;
}

.icons-perfil {
  font-size: 30px;
}

/*responsive costumization*/

@media (max-width: 1200px) {
  .saly {
    top: -30px;
    left: -50px;
  }
}

@media (max-width: 768px) {
  .container-searching {
    border-radius: 20px !important;
  }
}

@media (max-width: 576px) {
  .form-ll-container {
    border-radius: 0px !important;
  }

  .btns-container-fg {
    width: 100%;
    margin-left: 0px;
  }
}